@font-face{
    src: url(Merriweather-Bold.ttf);
    font-family:Merriweather ;}



body{
    background-color:#f3f1f1 !important;
}
*{
    /* border:2px solid black; */
}


/* navbar */




.navbar-brand img{
    height: 50px;
    padding-left: 30px;
}
.nav-item{
    padding:5px 5px 5px 5px;
}
.nav-link{
    color: black;
    
    transition: 0.4s;
    border-radius: 15px;
}
.nav-link:hover{
    color: yellow;
    background-color: black;
    
    border-style: none;
}
.navbar{
    background-color: yellow ;

    
}

*{
    /* border: black 1px solid; */
}
/* campuses */
#campus{
    text-align: center;
    margin-top: 100px;
}
#campus2{
    text-align: center;
    /* margin-top: 20px; */
}
#mainheadings{
    font-weight: bold;
    font-family: Merriweather;
    margin-top: 10px;
    margin-bottom: 20px;}

#map1{
    height: 300px;
    width: 100%;
}
#map0{
    -webkit-box-shadow: 4px 12px 43px -10px rgba(0,0,0,0.51);
-moz-box-shadow: 4px 12px 43px -10px rgba(0,0,0,0.51);
box-shadow: 4px 12px 43px -10px rgba(0,0,0,0.51);
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}

#camptitle{
    background-color: black;
    color: yellow;
    width: fit-content;
    margin: 15px auto 20px auto;
    padding: 10px;
    border-radius: 10px;
}

#head1{
    color: yellow;
    background-color: black !important;
    display: inline;
    padding: 10px;
    border-radius: 10px;
}
#head2{
    color: white;
    background-color: black !important;
    display: inline;
    padding: 10px;
    border-radius: 10px;
}
#paracampus{
    margin-top: 10px;
}
#paracampus img{
    width: 50px;
    height: 50px;
    margin: 10px;
}















/* footer */


#footer{
    background-color: yellow;
    color: black;
    display: flex;
    flex-wrap: wrap;
    /* padding-left: 10%; */
    margin-top: 50px;
    padding-top: 40px;
    font-family: Merriweather;;
    justify-content: space-around
}
#footer div{
    min-width: 320px;
    text-align: center;
    margin: 10px;
    
}
#contactus img{
    width: 30px;
    height: 30px;
    margin: 10px;
    filter: brightness(0); 
    -webkit-filter:brightness(0);
}
#affiliated{
    min-width: 200px;
    max-width: 300px;
}
#hrrr{
    background-color: black;
    width: 90%;
}

