@font-face{
    src: url(Merriweather-Bold.ttf);
    font-family:Merriweather ;}

    @font-face{
        src: url(iCiel\ Gotham-Medium.ttf);
        font-family:gotham;}
    

body{
    background-color:#f3f1f1 !important;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}



/* navbar */




.navbar-brand img{
    height: 50px;
    padding-left: 30px;
}
.nav-item{
    padding:5px 5px 5px 5px;
}
.nav-link{
    color: black;
    
    transition: 0.4s;
    border-radius: 15px;
    padding-left: 10px !important;
}
.nav-link:hover{
    color: #fdde00;
    background-color: black;
    
    border-style: none;
}
.navbar{
    background-color: #fdde00 ;
    
}


/* courses */

#mainheadings{
    font-weight: bold;
    font-family: gotham;
    
    /* margin-bottom: 120px; */
    padding-top: 50px;
    padding-bottom: 40px;
    
}
.container-fluid{
    text-align: center;
    /* padding-left: auto !important; */
    /* padding-right: auto !important; */
    margin-top: 50px;
}
#courses{
    margin: 20px ;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    
}
#courses div{
    margin-right: 15px;
   
}

*{
    /* border: 1px solid black; */
}



@media screen and (min-width: 1000px){
	#coursename{
        text-align:right  !important;
        min-width: 310px;
        max-width: 310px;
        
    }
    #ct1{
    text-align: right;
    color: black;
    font-family: gotham;
    
    
    }
    #ct2{
        text-align: right;
        color: grey;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        font-size: 14pt;
       
    
    
    }
    #ct3{
        text-align: right;
        color: grey;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        font-size: 12pt;
    }
}

@media screen and (max-width: 1000px){
	#coursename{
        text-align:right  !important;
        min-width: 310px;
        max-width: 310px;
        
    }
    #ct1{
    text-align: right;
    color: black;
    font-family: gotham;
    
    
    }
    #ct2{
        text-align: right;
        color: grey;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        font-size: 14pt;
       
    
    
    }
    #ct3{
        text-align: right;
        color: grey;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        font-size: 12pt;
    }
}

@media screen and (max-width: 700px){
    #coursename{
        text-align:right  !important;
        min-width: 310px;
        max-width: 310px;
        
    }
    #ct1{
    text-align: right;
    color: black;
    font-family: gotham;
    
    
    }
    #ct2{
        text-align: right;
        color: grey;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        font-size: 14pt;
       
    
    
    }
    #ct3{
        text-align: right;
        color: grey;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        font-size: 12pt;
    }
}

@media screen and (max-width: 704px){
    #coursename{
        text-align:center  !important;
        min-width: 310px;
        max-width: 310px;
        
    }
    #ct1{
    text-align: center;
    color: black;
    font-family: gotham;
    font-size: 22pt;
    
    
    }
    #ct2{
        text-align: center;
        color: grey;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        font-size: 12pt;
       
    
    
    }
    #ct3{
        text-align: center;
        color: grey;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        font-size: 10pt;
    }
    #details{
        min-width: 250px;
        max-width: 250px;
        justify-content:left !important;
        
        
    
    }
    #outline{
        display: flex;
        max-width: 296px;
        min-width: 296px;
        margin: auto auto auto auto;
        justify-content: center;
    }
    
}



#details{
    min-width: 250px !important;
    max-width: 250px !important;
    text-align: left !important;

}
#details p{
    text-align: justify !important;
} 
#fees{
    
    color:black;
    margin-top: -10px;
    width: fit-content;
    padding-right: 10px;
    font-size: 10pt;
}

#outline{
    display: flex;
    max-width: 296px;
    min-width: 296px;
}
#outline div{
    margin-right: 5px;
}
#outlinehead{
    text-align: center;
    color: black;
    background-color:#fdde00 ;
    min-width: 140px;
    max-width: 140px;
    
}

.list-unstyled{
    text-align: left;
    font-size: 8pt;
}
#hrrr{
    background-color: black;
    width: 90% !important;
}



/* footer */


#footer{
    background-color: #fdde00 ;
    color: black;
    display: flex;
    flex-wrap: wrap;
    /* padding-left: 10%; */
    margin-top: 50px;
    padding-top: 40px;
    font-family: gotham;
    justify-content: space-around
}
#footer div{
    min-width: 320px;
    text-align: center;
    margin: 10px;
    
}
#contactus img{
    width: 30px;
    height: 30px;
    margin: 10px;
    filter: brightness(0); 
    -webkit-filter:brightness(0);
}
#affiliated{
    min-width: 200px;
    max-width: 300px;
}
#hrrr{
    background-color: black;
    width: 90%;
}


